.color-valid {
  color: var(--pico-ins-color);
}
.color-invalid {
  color: var(--pico-del-color);
}

@media (max-width: 767px) {
  form .grid {
    grid-gap: 0;
  }
}

article > header {
  font-size: 1.2rem;
}

form > :last-child {
  margin-bottom: 0;
}
